@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cafe24SsurroundAir";
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 700px;
  height: 500px;
  margin-top: 50px;
  text-align: center;
  border-radius: 50px;
  background-color: #b0e0e6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
