<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/tdl.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/089e4ebf92.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="box">
      <legend id="title">To do List</legend>
      <p id="pinput">
        <input type="text" id="input" autofocus />

        <input type="button" onclick="add()" id="addButton" />
      </p>
    </div>
    <script src="/js/home/todo.js"></script>
  </body>
</html>
