<!DOCTYPE html>
<html lang="en">
  <center>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
      <div id="box">
        <p>
          <legend id="title">To do List</legend>
          <input type="text" id="input" />

          <input type="button" value="append" onclick="add()" />
        </p>
      </div>
      <script src="/js/home/todo.js"></script>
    </body>
  </center>
</html>
