<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chamjin</title>
    <link rel="stylesheet" href="/css/home/style.css" />
    <script src="/js/home/todo.js" defer></script>
  </head>
  <body>
    <div id="mainBox">
      <h1>To Do List</h1>
      <form id="todoForm">
        <input type="text" id="taskInput" />
        <button type="button" id="plus">추가</button>
      </form>
      <div id="taskList">
        <!--
      <ul>
        <input type = checkbox id=check>
        <input type = text value = dbteask id dataTask>
        <input type = button id 수정>
        <input type = button id 삭제>
      <ul> 
      --></div>
    </div>
  </body>
</html>
