<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chamjin ToDoList</title>
    <script src="/js/home/todo.js" defer></script>
  </head>
  <body>
    <h1>To Do List</h1>
    <form id="todoForm" submit="return false;">
      <input type="text" id="taskInput" />
      <button type="button" id="plus">추가</button>
    </form>
    <div id="taskList"></div>
  </body>
</html>
