/* body {
  position: relative;
}

#mainBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
  width: 600px;
  padding-bottom: 30px;
  padding-top: 5px;
  border-radius: 30px;
  background-color: #dcdcdc;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

h1 {
  margin-left: 50px;
}

hr {
  width: 500px;
  border: 0px;
  border-top: 2px solid #cbcbcb;
}

#inputform {
  display: flex;
  margin-left: 75px;
}

#outputform {
  display: initial;
}

#input {
  border: none;
  background-color: #dcdcdc;
  width: 400px;
  height: 50px;
  font-size: 20px;
  outline: none;
}

#plus {
  margin-left: 15px;
  font-size: 35px;
} */

#inputButton {
  background: url("https://i.ibb.co/3493r17/cat.jpg") no-repeat;
  width: 30px;
  height: 30px;
}
